<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>Hello World!!</h1>
    <h2 th:text="${message}"></h2>

    <form action="/" method="post">
        <p>国を選んでください。各国の挨拶を確認できます</p>
        <select name="country_name">
            <option value="japan">日本</option>
            <option value="us">アメリカ</option>
            <option value="china">中国</option>
        </select>
        <button type="submit">挨拶を確認する</button>
    </form>
    <p th:text="${countryGreeting}"></p>
</body>
</html>